/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/02/07, 23:16:09
    Author     : mobius
*/
.button {
    -fx-background-color: null;
}
.check-box .box
{
    -fx-background-color: rgba(0,0,0,0.1);
}
.button:disabled{
    -fx-background-color: rgba(200,200,200,0.1);
}
.button:hover{
    -fx-background-color: rgba(0,0,0,0.1);
}

.button:pressed{
    -fx-background-color: rgba(0,0,0,0.15);
}
