/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015/02/09, 20:14:44
    Author     : mobius
*/

.header
{
    -fx-padding: 36;
    -fx-spacing:12;
    -fx-background-color: #00A474;
}
.header>.label
{
    -fx-font-size:36;
}